extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Who's Ricki?

        p.lead.text-light
          | He Will Be A Developer 

        .portfolio-bio
          p
            | I am Ricki and I am from Toronto. I enjoy playing sports, especially volleyball and basketball. I am also extremely tech savvy and a technology geek. And like cars.  
            br
            br
            | My current profession however, is the complete opposite and I don't enjoy it. I never had a clear path in life so I studied business in University because I was good at it. Now I work for a business where I pretty much handle everything in the office. Admin, payroll, accounting, tech support, business development. Anything relating to the operations of the business.
            br
            br
            | I studied a bit of programming in University as well, but coding was new to me and I didn't give it a chance. I decided to pursue something I was familiar with and good at. But coding always found its way back into my life. It took many years to realize what was in front of me all this time, but now I am ready to chase after my dreams.

          .about-pic
            img.thumbnail(src='./static/img/about-pic.jpg')
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li React.js
          li Express/Node.js
          li jQuery
          li Asynchronous Programming with JavaScript
          li Object-Oriented Programming
          li npm
          li HTTP
          li AJAX
          li APIs
          li Git
          li Bootstrap
          li CSS
          li HTML
        h6 Contact Info

        ul
          li 647-990-1277
          li rickingyn@email.com

        a.button.expanded(href='http://www.linkedin.com/in/rickingyn' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/rickingyn' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  