extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Hello, World! 

      p.lead.text-light
        | Below are projects I have completed using JavaScript. Although my full potential cannot be realized here, this portfolio demonstrates my skills and capabilities. Please see what I am able to do! Full potential is available upon hire.
        
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in data
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
          h5= project.project_name


      
